.center {
  text-align: center;
}

.controls {
  position: relative;
  top: 40rem;
  width: 80%;
  height: 14rem;
  display: inline-block;
}

.button {
  border-radius: 6rem;
  width: 6rem;
  height: 6rem;
  background-color: $color-gold;
  border: 2px solid $color-black;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    background-color: yellow;
  }

  &-container {
    display: grid;
    position: relative;
    top: -45rem;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5rem;
    height: 20rem;
    align-content: center;
    justify-content: center;
    grid-row-gap: 2rem;
  }

  &-item1 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  &-item2 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  &-item3 {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }
}

.playgrid {
  display: grid;
  position: relative;
  top: -40rem;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr;
  //background-color: red;
  height: 25rem;
  align-items: center;
}

.playgrid:nth-child(1) {
  margin-top: -15rem;
}

.playgrid:nth-child(2) {
  margin-top: 6rem;
}

.playerScore {
  //display: flex;
  color: white;
  //justify-content: center;
  //align-items: center;
  width: 75px;
  position: relative;
  justify-self: center;
  //left: -2rem;
  font-size: 1.6rem;
  top: 5rem;
  grid-row: 1/1;
  grid-column: 1/1;
  border: solid 2px white;
  border-radius: 10rem;
  padding: 0 2rem;
  background-color: #2c7da4;
}
.content {
  //display: grid;
  color: white;
  //text-align: center;
  //justify-content: center;
  //align-items: center;
  justify-self: center;
  width: 150px;
  position: absolute;
  //left: 28rem;
  font-size: 1.6rem;
  top: 11.5rem;
  border: solid 2px white;
  grid-row: 2/2;
  grid-column: 1/1;

  border-radius: 10rem;
  padding: 0.3rem 2rem;
  background-color: #2c7da4;
}

.dealerScore {
  //display: flex;
  color: white;
  justify-self: center;
  //align-items: center;
  width: 75px;
  border: solid 2px white;
  position: relative;
  //left: -2rem;
  margin-bottom: -8rem;
  top: 1rem;
  font-size: 1.6rem;
  grid-row: 1/1;
  grid-column: 1/1;
  border-radius: 10rem;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.item-0 {
  position: relative;
  left: 2rem;
  //background-color: yellow;
  //text-align: center;
  grid-row: 2/2;
  grid-column: 1/1;
}

.item-1 {
  //background-color: green;
  left: 5rem;
  text-align: center;
  position: relative;
  //left: 35rem;
  grid-row: 2/2;
  grid-column: 1/1;
}

.item-2 {
  left: 8rem;
  grid-row: 2/2;
  grid-column: 1/1;
  position: relative;
  //background-color: purple;
  text-align: center;
}

.item-3 {
  grid-row: 2/2;
  grid-column: 1/1;
  //background-color: black;
  text-align: center;
  position: relative;
  left: 11rem;
}

.item-4 {
  grid-row: 2/2;
  grid-column: 1/1;
  position: relative;
  left: 13rem;
  //background-color: yellow;
  text-align: center;
}

.item-5 {
  //background-color: green;
  text-align: center;
  position: relative;
  left: 15rem;
  grid-row: 2/2;
  grid-column: 1/1;
}

.item-6 {
  grid-row: 2/2;
  grid-column: 1/1;
  position: relative;
  //background-color: purple;
  text-align: center;
  left: 17rem;
}

.item-7 {
  grid-row: 2/2;
  grid-column: 1/1;
  //background-color: black;
  text-align: center;
  position: relative;
  left: 19rem;
}

.item-8 {
  grid-row: 2/2;
  grid-column: 1/1;
  position: relative;
  left: 21rem;
  //background-color: yellow;
  text-align: center;
  z-index: -1;
}

.item-9 {
  //background-color: green;
  text-align: center;
  position: relative;
  left: 23rem;
  grid-row: 2/2;
  grid-column: 1/1;
  z-index: -2;
}

.item-10 {
  grid-row: 2/2;
  grid-column: 1/1;
  position: relative;
  //background-color: purple;
  text-align: right;
  left: 2rem;
  z-index: -3;
}

.please {
  position: relative;
  top: -17rem;
  left: 1rem;
}
