.menu {
  display: flex;
  flex-direction: column;
  font-family: hermann;
  font-size: 4rem;
  color: gold;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__card {
    margin-top: -7rem;
    align-self: top;

    height: auto;
  }

  .moveInLeft {
    width: 100%;
    flex-grow: 2;
  }
}

.fadeOut {
  animation: seconds forwards 3s;
}

.btn {
  display: block;
  position: relative;
  text-decoration: none;
  margin-top: 3rem;
  border-radius: 10rem;
  cursor: pointer;

  padding: 0 10rem;
  background-image: url(../../wood.png);
  background-position: center;
  color: $color-gold;

  @media only screen and (max-width: 1366px) and (min-width: 1366px) and (max-height: 1024px) and (min-height: 1024px) {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  @media only screen and (max-width: 1365px) and (min-width: 1033px) {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: $bp-ipad) and (min-width: 760px) {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  @media only screen and (max-width: 1024px) and (min-width: 1000px) {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    height: 3rem;
    padding-bottom: 3rem;
  }

  @media only screen and (max-width: 1024px) and (min-width: 1024px) and (max-height: 1366px) and (min-height: 1366px) {
    margin-bottom: 3rem;
    font-size: 3rem;
    height: 5rem;
    padding-top: 1rem;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    background-image: url(../../wood.png);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

.options {
  display: flex;
  flex-grow: 4;
  flex-direction: column;

  //transform: translate(35%, 0%);
  text-align: center;
}

.image1 {
  z-index: 2;
}

.image2 {
  position: relative;
  left: -7.5rem;
  opacity: 0;

  z-index: 1;
}

.shuffle {
  position: sticky;
  top: 2rem;
  left: 100rem;
  height: 109px;
  width: 71px;

  @media only screen and (max-width: 999px) {
    left: 77rem;
  }
}

.button:disabled {
  color: white !important;
  visibility: hidden;
  background-color: #f44336 !important;
}

.root {
  max-width: calc(var(--maxWidth) * 1px);
}

.wrapper {
  position: relative;
  top: -15rem;
  height: 0;
  padding-top: calc(var(--height) / var(--width) * 100%);
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
