@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    color: white;
  }
  100% {
    opacity: 0;
    left: -9999px;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dealUp {
  0% {
    transform: translate(35rem, 0px);
    opacity: 0;
    top: -1rem;
  }
  45% {
    opacity: 0;
    top: -1rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dealDown {
  0% {
    transform: translate(35rem, -1rem);
    opacity: 1;
    top: -1rem;
  }
  45% {
    opacity: 1;
    top: -1rem;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
